<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="THSet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <THSet.Properties.Settings>
            <setting name="holdTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bgR" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="bgG" serializeAs="String">
                <value>202</value>
            </setting>
            <setting name="bgB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bgA" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="fontR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fontG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fontB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="floatWindowX" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="floatWindowY" serializeAs="String">
                <value>30</value>
            </setting>
        </THSet.Properties.Settings>
    </userSettings>
</configuration>
